.header_container {
  // @media screen and (min-width: 1200px) {
  header {
    display: flex;
    justify-content: center;
    background-color: $red-background;
    width: 100%;
    height: 200px;
    align-items: center;

    .hamburger_container {
      // display: none;
      visibility: hidden;
      // background-color: green;
    }

    .title_logo_nav_container {
      display: flex;
      margin-top: -10px;
      flex-direction: column;
      align-items: center;

      .title_and_logo_container {
        display: flex;
        padding: 10px 0 0 0;
        // remember this need to be adjusted if logo or H1 is adjusted
        margin-left: -55px;

        img {
          height: auto;
          width: 115px;
          animation: rotation 3s linear;
        }

        .Link {
          text-decoration: none;
        }

        h1 {
          font-size: 90px;
          margin-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          color: $black-font;
          font-family: "Helvetica Neue", Arial, sans-serif;
          text-decoration: none;
        }
      }

      nav {
        font-family: "Helvetica Neue", Arial, sans-serif;
        // margin-right: 70px;

        ul {
          display: flex;
          flex-direction: row;
          list-style: none;
          margin-top: -7px;
        }

        li {
          font-weight: bold;
          font-size: 20px;
          list-style-type: none;
          color: black;

          a {
            text-decoration: none;
            color: black;
            // display: block;
            padding-right: 20px;
            padding: 0.4rem;
          }
          a:hover {
            // border-bottom: 2px solid black;
            background-color: $light-red-background;
            border-radius: 5px;
            // border-radius: 50px;
          }
        }
      }
    }
  }
  // }

  // 1st Header Breakpoint
  // @media screen and (min-width: 992px) and (max-width: 1199px)
  @media screen and (max-width: 1199px) {
    header {
      // display: none;
      justify-content: flex-start;
      justify-content: space-between;
      height: 90px;

      .title_logo_nav_container {
        // change here <------
        nav {
          display: none;
        }
        .title_and_logo_container {
          margin-left: 40px;
          h1 {
            font-size: 50px;
          }
          img {
            height: auto;
            width: 50px;
            margin-top: 11px;
            // animation: rotation 3s linear;
          }
        }
      }

      .hamburger_container {
        margin-right: 40px;
        visibility: visible;
      }
    }
  }
  // // 2nd Header Breakpoint
  // @media screen and (min-width: 768px) and (max-width: 991px) {
  //   header {
  //     display: none;
  //   }
  // }
  // // 3rd Header Breakpoint
  // @media screen and (min-width: 576px) and (max-width: 767px) {
  //   header {
  //     display: none;
  //   }
  // }
}
