.header_container {
  // desktop view

  header {
    display: flex;
    background-color: $red-background;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-between;

    .title_and_logo_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 40px;

      .Link {
        text-decoration: none;
      }

      img {
        height: auto;
        animation: rotation 3s linear;
        color: white;
        height: auto;
        width: 50px;
        margin-top: 4px;
      }

      h1 {
        font-size: 45px;
        margin-left: 6px;
        color: $black-font;
        font-family: "Helvetica Neue", Arial, sans-serif;
        text-decoration: none;
      }
    }

    nav {
      font-family: "Helvetica Neue", Arial, sans-serif;

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;

        grid-gap: 5px;
        margin-right: 60px;

        a {
          color: $black-font;
          color: white;
          padding: 0.5rem;
          text-decoration: none;

          li {
            font-weight: bold;
            font-size: 17px;
            font-family: "Montserrat", sans-serif;
            list-style-type: none;
            width: 100%;
            text-align: center;
          }
        }
        a:hover {
          background-color: $light-red-background;
          border-radius: 4px;
          transition: all 0.2s ease-out;
          opacity: 1;
        }
      }
    }

    .menu-icon {
      display: none;
    }

    // tablet view

    @media screen and (max-width: 960px) {
      justify-content: center;

      .title_and_logo_container {
        margin: 0;
        margin-left: -40px;
      }

      // responsive nav menu
      .nav-menu.active {
        background: $red-background;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        display: visible;
      }

      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 90px;
        left: -100%;
        opacity: 1;
        transition: all 0.5 ease;
        display: visible;
        height: 100%;
        padding: 0;
      }

      ul {
        overflow-y: hidden !important;
        height: 100%;
        a {
          li {
            text-align: center;
            font-size: 25px !important;
            padding: 1.5rem 0;
            display: table;
          }

          li:hover {
            border-radius: 0;
          }
        }
      }

      .menu-icon {
        display: block;
        position: absolute;
        top: 14px;
        right: 70px;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
    }

    // RESPONSIVE

    @media screen and (max-width: 670px) {
      justify-content: flex-start;

      .menu-icon {
        font-size: 1.4rem;
        top: 20px;
        right: 60px;
      }
      .title_and_logo_container {
        margin-left: 60px;

        h1 {
          font-size: 35px;
        }

        img {
          width: 45px;
        }
      }
    }

    @media screen and (max-width: 510px) {
      .title_and_logo_container {
        h1 {
          font-size: 30px;
        }

        img {
          width: 40px;
        }
      }
    }
    @media screen and (max-width: 470px) {
      .title_and_logo_container {
        margin-left: 60px;

        img {
          display: none;
        }
      }
    }

    @media screen and (max-width: 430px) {
      .menu-icon {
        font-size: 1.2rem;
        top: 22px;
      }
      .title_and_logo_container {
        margin-left: 80px;

        h1 {
          font-size: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 416px) {
  .header_container {
    header {
      height: 50px;

      .menu-icon {
        font-size: 1.1rem;
        top: 6px;
        right: 40px;
      }
      .title_and_logo_container {
        margin-left: 60px;

        h1 {
          font-size: 20px;
        }
      }

      // iphone 5/6/7/8 - 320px
      @media screen and (max-width: 320px) {
        .menu-icon {
          right: 20px;
        }
        .title_and_logo_container {
          margin-left: 40px;
        }
      }
    }
  }
}

// Mobile Widths

// iPad             --> 768px
// Surface Duo      --> 540px
// Pixel 2          --> 411px

// iPhone X         --> 375px
// Moto G4          --> 360px
// Galaxy S5        --> 360px

// iPhone 5         --> 320px
// iPhone 6/7/8     --> 320px
// iPhone 6/7/8     --> 320px
// Galaxy Fold      --> 280px !!!
