.header_container {
  // desktop view

  header {
    display: flex;
    background-color: $red-background;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-between;

    .title_and_logo_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 40px;

      .Link {
        text-decoration: none;
      }

      img {
        height: auto;
        animation: rotation 3s linear;
        color: white;
        height: auto;
        width: 50px;
        margin-top: 4px;
      }

      h1 {
        font-size: 45px;
        margin-left: 6px;
        color: $black-font;
        font-family: "Helvetica Neue", Arial, sans-serif;
        text-decoration: none;
      }
    }

    nav {
      font-family: "Helvetica Neue", Arial, sans-serif;

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;

        grid-gap: 5px;
        margin-right: 60px;

        a {
          color: $black-font;
          color: white;
          padding: 0.5rem;
          text-decoration: none;

          li {
            font-weight: bold;
            font-size: 17px;
            font-family: "Montserrat", sans-serif;
            list-style-type: none;
            width: 100%;
            text-align: center;
          }
        }
        a:hover {
          background-color: $light-red-background;
          border-radius: 4px;
          transition: all 0.2s ease-out;
          opacity: 1;
        }
      }
    }
  }

  .menu-icon {
    display: none;
  }

  @media screen and (max-width: 960px) {
    justify-content: center;

    .title_and_logo_container {
      margin: 0;
      margin-left: -40px;
    }

    // responsive nav menu
    .nav-menu.active {
      background: $red-background;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      display: visible;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 90px;
      left: -100%;
      opacity: 1;
      transition: all 0.5 ease;
      display: visible;
      height: 100%;
      padding: 0;
    }

    ul {
      overflow-y: hidden !important;
      height: 100%;
      a {
        li {
          text-align: center;
          font-size: 25px !important;
          padding: 1.5rem 0;
          display: table;
        }

        li:hover {
          border-radius: 0;
        }
      }
    }

    .menu-icon {
      display: block;
      // display: visible;
      position: absolute;
      transform: translate(-100%, 60%);
      /////////
      font-size: 2rem;
      top: 8px;
      right: 12px;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 670px) {
    header {
      justify-content: flex-start;

      .menu-icon {
        // font-size: 1.4rem;
        // top: 14px;
        // right: 12px;
        top: 8px;
        right: 12px;
        font-size: 2rem;
      }
    }
    .title_and_logo_container {
      margin-left: 60px;

      h1 {
        margin-left: -10px;
      }

      img {
        width: 45px;
        display: none;
      }
    }
  }

  @media screen and (max-width: 520px) {
    header {
      .menu-icon {
        font-size: 1.8rem;
        top: 14px;
        right: 14px;
      }
      .title_and_logo_container {
        h1 {
          font-size: 40px;
          margin-left: 0px;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    header {
      .menu-icon {
        right: 10px;
        top: 18.5px;
        font-size: 1.5rem;
      }
      .title_and_logo_container {
        font-size: 30px;
        margin-left: -10px;

        h1 {
          font-size: 33px;
          margin-left: 37px;
        }
      }
    }
  }

  @media screen and (max-width: 359px) {
    header {
      .menu-icon {
        right: 13px;
        top: 20px;
        font-size: 1.4rem;
      }
      .title_and_logo_container {
        font-size: 30px;
        margin-left: -10px;

        h1 {
          font-size: 27px;
          margin-left: 37px;
        }
      }
    }
  }
}
