// embedded content

.embedded_container {
  main {
    background-color: black;
    background-color: #1e1e1e;

    color: $red-background;
    color: white;
  }

  section {
    margin-bottom: 20px;
  }

  .embedded_txt {
    margin-top: 20px;
    margin-right: 27px;
    p {
      width: 100%;
    }
  }

  h2 {
    margin-top: 20px;
    border-bottom: 1px dotted $red-background;
    color: $red-background;
    margin: 0 30px 5px 0;
  }

  h2:nth-of-type(1) {
    margin-bottom: -10px;
  }

  @media screen and (max-width: 430px) {
    h2 {
      font-size: 28px;
    }
  }

  .audio_flex_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    flex-wrap: wrap;
    margin-left: -20px;

    @media screen and (max-width: 779px) {
      .spectro_1 {
        border-bottom: 1px dotted $red-background;
        margin: 0 10px 0 10px;
        summary {
          margin-bottom: 48px;
        }
      }

      .spectro_1:nth-of-type(2) {
        margin-top: 20px;
      }

      .spectro_1:nth-last-of-type(1) {
        margin-top: 20px;
        margin-bottom: 0px;
        border-bottom: 0;
        summary {
          margin-bottom: 0px;
        }
      }
    }

    h3 {
      margin-top: 15px;
      text-align: center;
      margin-bottom: 15px;
    }
    audio {
      border: $red-background solid 12px;
      border-radius: 50px;
      padding: 10px;
      width: 240px;
      // width: 90%;
      margin: 10px;
    }

    // audio summary

    details {
      summary {
        margin: 15px 0px 20px 77px;
        text-align: center;
        background-color: $red-background;
        padding: 5px 0;
        border-radius: 40px;
        max-width: 150px;
      }
      ul {
        margin-top: 30px;
        list-style: square;
        max-width: 200px;
        background-color: $red-background;
        border-radius: 11px;
        list-style: none;
        margin-left: 30px;
        margin-bottom: 40px;
        padding: 20px 20px 5px 20px;
        li {
          margin-bottom: 20px;
          max-width: 270px;
        }
      }
    }
  }

  .video_flex_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: -20px;

    h3 {
      margin-top: 15px;
      text-align: center;
      margin-bottom: 15px;
    }

    video {
      margin-top: 30px;
      padding: 15px;
      border: $red-background solid 6px;
      width: 80%;
      border-radius: 10px;
      height: auto;
    }
  }

  /// sort out this ridiculous hack
  .photography_container {
    background-color: #1e1e1e;
    ul {
      margin: 30px 0px 30px -20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      li {
        img {
          width: 300px;
          height: auto;
          padding: 15px;
          // border: grey solid 1px;
          // border: $red-background solid 1px;
          border-radius: 5px;
          margin: 10px 10px;
        }
      }
    }

    @media screen and (max-width: 841px) {
      ul li img {
        width: 92%;
      }
    }
    @media screen and (max-width: 750px) {
      ul li img {
        width: 91%;
      }
    }
    @media screen and (max-width: 630px) {
      ul li img {
        width: 90%;
      }
    }
    @media screen and (max-width: 601px) {
      ul li img {
        width: 88%;
      }
    }
    @media screen and (max-width: 510px) {
      ul li img {
        width: 86%;
      }
    }
    @media screen and (max-width: 430px) {
      ul li img {
        width: 84%;
      }
    }
    @media screen and (max-width: 400px) {
      ul li img {
        width: 83%;
      }
    }
    @media screen and (max-width: 390px) {
      ul li img {
        width: 82%;
      }
    }
  }
}

// remember to save the whole border thing as a variable
// go back and align the summary / ul items with flexbox
// go back and fix photographs done with media queries
// also go back and move all the content out to seperate files and just leave code logic
