// table container

.p {
  text-align: center;
  max-width: 100%;
  margin-top: 15px;
  // margin-left: 10px;
  // margin-right: 30px;
}

mark {
  background-color: $red-background;
  padding: 5px;
  color: white;
  border-radius: 40px;
}

.tag_table_container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: -10px;

  table {
    width: 90%;
    position: relative;
    border-collapse: collapse;
    background-color: white;
    border: solid 1px #ededed;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  table:nth-of-type(2) {
    width: 30%;
    // margin-right: auto;
    th:nth-child(1) {
      width: 5%;
      text-align: right;
      padding-right: 20px;
      border-right: solid 1px #ededed;
    }

    th:nth-child(2) {
      width: 5%;
      text-align: left;
      padding-left: 20px;
      border-right: solid 1px #ededed;
    }
  }

  caption {
    text-align: center;
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 25px;
  }

  // Table Header
  thead {
    background-color: #f7f7f5;
  }

  th {
    background-color: white;
    position: sticky;
    border-bottom: solid 1px #ededed;
    padding: 30px 0px 10px 0px;
    align-self: flex-start;
  }

  th:nth-child(1) {
    width: 15%;
    text-align: left;
    padding-left: 20px;
    border-right: solid 1px #ededed;
    border-top-left-radius: 30px;
  }

  th:nth-child(2) {
    width: 40%;
    text-align: left;
    padding-left: 20px;
    border-right: solid 1px #ededed;
    border-top-right-radius: 30px;
  }

  th:nth-child(3) {
    width: 5%;
    text-align: center;
  }

  // ************************* TABLE DATA *************************

  td {
    padding: 13px 0px 13px 0px;
    border-bottom: solid 1px #ededed;
  }

  // table data - tag column
  td:nth-of-type(1) {
    text-align: right;
    text-align: left;
    padding: 20px;
    border-right: solid 1px #ededed;
  }

  // table data - description column
  td:nth-of-type(2) {
    text-align: left;
    padding: 20px;
  }

  // table data - yes or no column
  td:nth-of-type(3) {
    text-align: center;
    border-left: solid 1px #ededed;
  }

  tr:nth-last-of-type(1) {
    td:nth-of-type(1) {
      // background-color: green;
      border-bottom-left-radius: 10px;
    }
    td:nth-of-type(2) {
      // background-color: yellow;
      border-bottom-right-radius: 10px;
    }

    // background-color: green;
  }
}

.red {
  background-color: $red-background;
  // background-color: yellow;
  color: white;
}
.white {
  background-color: white;
}
